.entry__cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.entry__cards__1 {
  text-align: left;
}
.entry__cards__2 {
  display: grid;
}

.entry__cards__item {
  width: 310px;
  margin-top: 10px;
}
.add__button__container {
  position: fixed;
  bottom: 2vh;
  right: 2vh;
  z-index: 9999;
}

.add__button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 24px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.add__button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .add__button__container {
    bottom: 4vh;
    right: 2vh;
  }

  .add__button {
    width: 10vw;
    height: 10vw;
    font-size: 5vw;
  }
}

.modal__child {
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__content {
  height: 438px;
  background: aliceblue;
  width: 300px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 7px;
  flex-flow: column;
}

form {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.radio-btn {
  display: inline-block;
  margin-top: 5px;
}

button {
  width: 100%;
}


.date-input {
  width: 223px;
}
.main__div {
  justify-content: center;
  height: 100%;
  width: 100%;
  align-items: center;
  display: grid;
}
.entry__cards__item.red {
  background-color: #ffd9d9;
}

.entry__cards__item.green {
  background-color: #cdf7cd;
}
